* {
  box-sizing: border-box;
}

.header{
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999999;
  font-family: "Roboto","HelveticaNeue-Light",sans-serif;
  background: var(--BG_GRADIENT_L0);
  transition: all 0.3s ease-in;
  background-color: #334366;
  background-image: linear-gradient(to bottom, #141b29, #0c111b 300px);
}

.nav-container{
  padding: 0 50px;
  margin: 0 auto;
  margin-top: 6px;
  min-height: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.hamburger{
  cursor: pointer;
}

.icon-wrapper{
  position: relative;
  padding: 20px;
  margin-left: -10px;
}

.line{
  width: 18px;
  height: 2px;
  background: rgba(255, 255, 255, 0.6);
  display: block;
}

.line:nth-child(2) {
  margin-top: 3px;
  margin-bottom: 3px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.subMenu{
  width: auto;
  height: auto;
  border-radius: 2px;
  background-color:#192133;
  position: absolute;
  overflow: hidden;
  display: none;
  top: 70px;
  left: 50px;
  padding: 1%;
  border: 1px solid black;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 22%);
}

.menuContainer{
  width: 9vw;
  height: auto;
}

.subMenuOne{
  width: 8vw;
  height:7vh;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.Channel{
  width:25px;
  height:25px;
  background-image: url('./images/channelLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -3px;
}

.channelName{
  width:50px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}


.subMenuTwo{
  width: 8vw;
  height:7vh;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.subMenuThree{
  width: 8vw;
  height:7vh;
  display: flex;
  justify-content: space-around;
}

.Languages{
  width:25px;
  height:25px;
  background-image: url('./images/languageLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -3px;
}

.Generes{
  width:25px;
  height:25px;
  background-image: url('./images/genereLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -3px;
}

.hamburger:hover .subMenu{
  display: block;
}

.logo img{
  outline: 0;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  width: 115px;
  height: 50px;
  padding-bottom: 10px;
}

.navigation{
  position: relative;
  width: 25vw;
  top: 10px;
  left: 5px;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: -5%;
}

ul li{
  padding: 3%;
  margin: 3%;
}

.linkMenu{
  font-size: 15px;
  font-weight: 400;
  text-transform: none;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.sublink{
  display: none;
  width: auto;
  height: auto;
  border-radius: 2px;
  background-image: linear-gradient(to bottom, #334366, #334366, #1C292A);
  position: absolute;
  overflow: hidden;
  top: 55px;
  text-align: center;
  left: 50px;
  padding: 1%;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 22%);
}

.sublink p{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  text-transform: none;
  opacity: 1;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.linkMenu:hover + .sublink{
  display: block;
}

.tv{
  margin-left: -10%;
}

.sports{
  margin-left: 20%;
}

.disney{
  margin-left: 40%;
}

.kids{
  width: 40px;
  height: 15px;
  position: relative;
  bottom: -2px;
  color: #db882a;
  background-image: url('https://www.hotstar.com/assets/4aa70ede8904e16b7630300c09219c8e.svg');
}

.search-container{
  position: relative;
  z-index: 1;
  margin-left: 30vw;
  border-bottom: 1px solid gray;
}

.search-container input{
  position: relative;
  width: 240px;
  height: 32px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  outline: 0;
  padding: 0 28px 0 0px;
  border-radius: 0;
  background: none;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  opacity: 1;
}

.searchIcon{
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0px;
  pointer-events: none;
  height: 15px;
  width: 16px;
  opacity: .7;
  transform: translateY(1px);
}

.searchImg{
  background-image:url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI2IDI2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM5MDk5OTk7fQoJLnN0MXtmaWxsOm5vbmU7ZW5hYmxlLWJhY2tncm91bmQ6bmV3ICAgIDt9Cjwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTkuMiAyLjdjMy41IDAgNi4yIDIuNyA2LjIgNi4yIDAgMy41LTIuNyA2LjItNi4yIDYuMiAtMy41IDAtNi4yLTIuNy02LjItNi4yQzIuOSA1LjUgNS43IDIuNyA5LjIgMi43ek05LjIgMC4yYy00LjkgMC04LjcgMy45LTguNyA4LjcgMCA0LjkgMy45IDguNyA4LjcgOC43IDIuMSAwIDQuMS0wLjggNS42LTJsMC42IDAuNnYxbDcuOSA3LjkgMi4xLTIuMSAtNy45LTcuOWgtMS4xbC0wLjYtMC42YzEuMy0xLjUgMi4xLTMuNSAyLjEtNS42QzE3LjkgNC4xIDE0IDAuMiA5LjIgMC4yeiAgIi8+PC9zdmc+') ;
  display: block;
  width: 130%;
  height: 23px;
  background-position: 50% 50%;
  margin-top: -3px;
  transform: scale(0.9);
  background-repeat: no-repeat;
  background-size: cover;
}

.btnSubscribe{
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 15px 18px 15px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  background-color: #1f80e0;
  border: none;
  outline: 0;
  outline-color: transparent;
  position: relative;
  outline: none !important;
  font-size: 12px;
  margin: 15px 0 15px 20px;
  padding: 0 12px;
  letter-spacing: 0.4px;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
}

.signIn{
  color: rgba(255, 255, 255, 0.8);
  margin-left: 20px;
}

.slider{
  height: 60vh;
  width: 100vw;
  margin-top: 9.3vh;
  background-color: #030b17;
}

.imgSlider, .imgSlider img{
  height: 60vh;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.imgCont{
  width: 100vw;
  height: 70vh;
  background-color: #030b17;
}

.list-container{
  width: 100vw;
  height: 50vh;
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #030b17;
}

.movie-card{
  width: 100vw;
  height: 30vh;
  border-radius: 10px;
  position: relative;
  margin-right: 3%;
  margin-left: -5vw;
}

.movie-card img{
  width: 100%;
  height: 30vh;
  border-radius: 10px;
}

.movie-card:hover{
  transition: all 1s ease;
  transform: scale(1.2);
}

.list-container p{
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  margin-left: 2.5vw;
  text-transform: none;
  background-color: #030b17;
}

.movie-card-item{
  width: 100vw;
  height: 40vh;
  background-color: #030b17;
}

.movie-card-item div{
  width: 13vw;
  height: 30vh;
  border-radius: 10px;
}

.movie-card-item div img{
  width: 100%;
  height: 30vh;
  border-radius: 10px;
}

.details{
  display: none;
  width:16vw;
  height: 13vh;
  position: absolute;
  bottom: 0px;
  left: -40px;
  border-radius: 10px;
  opacity: 0.7;
  background-color: transparent;
}

.details p{
  font-size: 14px;
  color: #fff; 
  margin-bottom: 0px;
  padding: 5px;
  line-height: 2.1vh;
}

.movie-card:hover .details{
  display: block;
}

.sideBar{
  display: none;
  width: 40vw;
  height: 87vh;
  position: absolute;
  background-image: linear-gradient(to bottom, #192133, #111826);
  color: rgba(255, 255, 255, 0.8);
}

.sideLogin{
  margin: 3% 0% 0% 10%;
  font-size: 16px;
  font-weight: 600;
}

.btter{
  font-size: 12px;
  margin-left: 28px;
  margin-top: -15px;
}

.watchlist{
  font-size: 16px;
  margin-left: 10%;
  font-weight: 600;
}

.kidsImg{
  width: 15vw;
  height: 4vh;
  margin-left: 10%;
}

.kidsImg img{
  width: 100%;
  height: 100%;
}

.chann{
  width: 50vw;
  height: 10vh;
  padding: 5% 0% 5% 0%;
  display: flex;
  justify-content: space-evenly;
  margin-left: -40px;
}

.channImg {
  width: 25px;
  height: 25px;
  background-image: url('./images/channelLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -4px;
  margin-top: -5px;
}

.lang{
  width: 50vw;
  height: 10vh;
  padding: 5% 0% 5% 0%;
  display: flex;
  justify-content: space-evenly;
  margin-left: -40px;
}

.langImg{
  width: 25px;
  height: 25px;
  background-image: url('./images/languageLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -5px;
}

.genre{
  width: 50vw;
  height: 10vh;
  padding: 5% 0% 5% 0%;
  display: flex;
  justify-content: space-evenly;
  margin-left: -40px;
}

.genreImg{
  width: 25px;
  height: 25px;
  background-image: url('./images/genereLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -15px;
  margin-top: -5px;
  
}

.sideText{
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
}

.fotter{
  width: 100vw;
  height: 5vh;
  background-color: #030b17;
  text-align: center;
  margin-top: -10vh;
}

.fotter p{
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width:600px) and (max-width:900px) {
  .hamburger{
    margin-left: -50px;
  }

  .hamburger:hover .subMenu{
    display: none;
  }
  
  .navigation{
    display: none;
  }

  .search-container{
    margin-left: 35vw;
  }

  .search-container input{
    width: 180px;
  }

  .btnSubscribe{
    margin-left: -48vw;
    margin-right: 5%;
  }

  .signIn{
    position: absolute;
    right: 4vw;
    bottom: 20px;
    font-size: 12px;
  }

  .list-container p{
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-transform: none;
    background-color: #030b17;
  }

  .movie-card-item{
    width: 95vw;
    height: 40vh;
    background-color: #030b17;
  }

  .movie-card-item div{
    width: 20vw;
    height: 30vh;
    border-radius: 10px;
  }

  .movie-card-item div img{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
  }

  .movie-card-item{
    width: 95vw;
    height: 40vh;
    background-color: #030b17;
  }

  .movie-card{
    width: 100vw;
    height: 30vh;
    border-radius: 10px;
    position: relative;
  }

  .movie-card img{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
  }

  .movie-card:hover{
    transition: all 1s ease;
    transform: scale(1.2);
  }

  .details{
    display: none;
    width:20vw;
    height: 15vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    opacity: 0.7;
    background-color: transparent;
  }

  .details p{
    font-size: 10px;
    color: #fff; 
    margin-bottom: 0px;
    line-height: 2.5vh;
  }

  .movie-card:hover .details{
    display: block;
  }

  .hamburger:hover .sideBar{
    display: block;
  }
}

@media screen and (min-width:320px) and (max-width:600px) {
  .hamburger{
    margin-left: -50px;
  }

  .hamburger:hover .subMenu{
    display: none;
  }
  
  .navigation{
    display: none;
  }

  .search-container{
    margin-left: 25vw;
    display: none;
  }

  .search-container input{
    width: 200px;
  }

  .searchIcon{
    width: 25px;
    height: 25px;
    margin-top: 4vh;
    margin-right: 10%;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI2IDI2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM5MDk5OTk7fQoJLnN0MXtmaWxsOm5vbmU7ZW5hYmxlLWJhY2tncm91bmQ6bmV3ICAgIDt9Cjwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTkuMiAyLjdjMy41IDAgNi4yIDIuNyA2LjIgNi4yIDAgMy41LTIuNyA2LjItNi4yIDYuMiAtMy41IDAtNi4yLTIuNy02LjItNi4yQzIuOSA1LjUgNS43IDIuNyA5LjIgMi43ek05LjIgMC4yYy00LjkgMC04LjcgMy45LTguNyA4LjcgMCA0LjkgMy45IDguNyA4LjcgOC43IDIuMSAwIDQuMS0wLjggNS42LTJsMC42IDAuNnYxbDcuOSA3LjkgMi4xLTIuMSAtNy45LTcuOWgtMS4xbC0wLjYtMC42YzEuMy0xLjUgMi4xLTMuNSAyLjEtNS42QzE3LjkgNC4xIDE0IDAuMiA5LjIgMC4yeiAgIi8+PC9zdmc+');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btnSubscribe{
    margin-left:10vw;
  }

  .signIn{
    display: none;
    position: absolute;
    right: 4vw;
    bottom: 20px;
    font-size: 12px;
  }

  .list-container p{
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-transform: none;
    background-color: #030b17;
  }

  .movie-card-item{
    width: 100vw;
    height: 40vh;
    background-color: #030b17;
  }

  .movie-card-item div{
    width: 25vw;
    height: 30vh;
    border-radius: 10px;
  }

  .movie-card-item div img{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
  }

  .movie-card-item{
    width: 100vw;
    height: 40vh;
    background-color: #030b17;
  }

  .movie-card{
    width: 100vw;
    height: 30vh;
    border-radius: 10px;
    position: relative;
    margin-left: -10vw;
  }

  .movie-card img{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
  }

  .movie-card:hover{
    transition: all 1s ease;
    transform: scale(1.2);
  }

  .details{
    display: none;
    width: 30vw;
    height: 15vh;
    position: absolute;
    bottom: 0px;
    left:-2.5vw;
    border-radius: 10px;
    opacity: 0.7;
    background-color: transparent;
  }

  .details p{
    font-size: 9px;
    color: #fff; 
    margin-bottom: 0px;
    line-height: 2.3vh;
    padding: 5px;
  }

  .movie-card:hover .details{
    display: block;
  }

  .subMenu{
    display: none;
  }

  .hamburger:hover .sideBar{
    transition: all 1s ease-in-out;
    display: block;
  }
}


